/* Corpo Geral */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #333;
    background-color: #f9f9f9;
}

/* Cabeçalho */
.cabecalho {
    background-color: #C0392B;
    color: #ffffff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.navegacao ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navegacao a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navegacao a:hover {
    background-color: #970303;
    transform: scale(1.1);
}

.opcoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icone-user {
    width: 25px;
    height: 25px;
}

.user-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.user-link:hover {
    color: #f1f1f1;
    font-weight: 900;
}

.modo-escuro {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modo-escuro img:active {
    transform: scale(1.2);
}

/* Banner */
.banner {
    text-align: center;
    padding: 50px 20px;
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Seção Coleções */
.colecoes .grid {
    display: flex;
    gap: 20px;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 350px;
    border-radius: 10px;
}

.card h3 {
    background: #C0392B;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
}

/* Seção Curiosidades */
.curiosidades {
    padding: 30px 20px;
    border-radius: 15px;
    margin-top: 40px;
}

.curiosidades ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Rodapé */
.rodape {
    background: #0f1419;
    color: #BDC3C7;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    border-top: 5px solid #C0392B;
}

.rodape a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape a:hover {
    color: #ffffff;
}

/* Botões Gerais */
button {
    background-color: #C0392B;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    background-color: #A93226;
}